<div class="container mx-auto">
  
  <div class="row pt-3 d-flex">
    <div class="col-5 d-flex ">
      <mat-form-field appearance="fill" class="rounded">
        <mat-label>Search</mat-label>
        <input (keyup)="search($event.target)" matInput placeholder="Type to search">
      </mat-form-field> 
    </div>
      <button class="ms-auto" mat-fab color="accent" aria-label="Example icon button with an add person icon">
        <mat-icon>person_add</mat-icon>
      </button>
  </div>
    
    <div class="row mt-4 d-flex justify-content-center">
      <h1 class="mat-display-1 text-center text-decoration-underline">All Contacts</h1>
      <div class="col-10 table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-3 ">

          <!-- Serial Number Column -->
          <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <!-- Phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>
        
          <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="table-body" (click)="viewContact(row.name)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
    </div>
</div>