<div class="container h-50">
  <div class="row d-flex justify-content-around h-100">
    <div class="col-11 col-sm-8 align-self-center ">
      <mat-card>
        <mat-card-title> {{contact.firstName}} {{contact.lastName}}</mat-card-title>
        <mat-card-subtitle>{{contact.email}}</mat-card-subtitle>
        <mat-card-subtitle>{{contact.phone}}</mat-card-subtitle>
        <mat-card-actions align="end">
          <button (click)="openBottomSheet()" mat-stroked-button color="primary">Send Message</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

  <!-- messages list -->
  <div *ngIf="messages.length !=0" class="row mt-4 d-flex justify-content-center">
    <h2 class=" text-center text-decoration-underline">Messages sent to this contact</h2>
    <div class="col-sm-8 col-10 table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mb-3 ">

        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.sentTime | date: 'dd/MM/yyyy, hh:mm a'}} </td>
        </ng-container>

        <!-- Message Body Column -->
        <ng-container matColumnDef="messageBody">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Message Body </th>
          <td mat-cell *matCellDef="let element"> {{element.messageBody}} </td>
        </ng-container>
        
      
        <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table-body" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator 
        [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div> <!-- messages list -->